* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
  text-align: justify;
}
main {
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: url(kepek/peakpx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav {
  background-color: #4b5b7c;
  height: 60px;
  grid-row: 1/4;
  grid-column: 1/4;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
  position: sticky;
  top: 0;
}
nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 100%;
}
nav ul li {
  padding: 10px;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: antiquewhite;
}
nav ul li:hover {
  background-color: antiquewhite;
}
nav ul li:hover a {
  color: #375993;
}
.elso {
  grid-column: 3;
}
article {
  grid-column: 1/4;
  grid-row: 4/36;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}
#bal {
  background-color: #6f7e98;
  grid-column: 2/4;
  margin-bottom: 8px;
  border-radius: 15px;
  padding: 8px;
}
#jobb {
  background-color: #375993;
  grid-column: 4;
  margin-bottom: 8px;
  border-radius: 15px;
  padding: 8px;
}
.rajzok,
.tarolo {
  background: rgb(254, 188, 102);
  background: linear-gradient(
    0deg,
    rgba(254, 188, 102, 1) 0%,
    rgba(172, 109, 130, 1) 100%
  );
}
.rajzok img,
#oslokep img,
#romakep img,
#daniakep img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 15px;
}
.kepleiras {
  background-color: #375993;
  grid-column: 2/5;
  grid-row: 1;
  margin-top: 8px;
  padding: 8px;
  border-radius: 15px;
}
#oslo,
#roma,
#daniakep,
#chopinleiras,
#lisztleiras,
#satieleiras {
  border-radius: 15px;
  background-color: #6f7e98;
  padding: 8px;
}
#oslo {
  grid-row: 2;
  grid-column: 2;
}
#roma {
  grid-column: 3;
  margin-bottom: 8px;
}
#daniakep {
  background-color: #4b5b7c;
  grid-column: 4;
  grid-row: 2/4;
  margin-bottom: 8px;
}
#oslokep {
  grid-column: 3;
  grid-row: 2;
}
#romakep {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 8px;
}
#svedkep{
  margin-top: 8px;
}
#kep1,
#kep2,
#kep3 {
  border-radius: 15px;
  background-color: #4b5b7c;
  margin-top: 8px;
  padding: 8px;
}
#kep4,
#kep5,
#kep6 {
  border-radius: 15px;
  background-color: #4b5b7c;
  margin-bottom: 8px;
  padding: 8px;
}
#kep1 {
  grid-column: 2;
}
#kep2 {
  grid-column: 3;
}
#kep3 {
  grid-column: 4;
}
#kep4 {
  grid-column: 2;
}
#kep5 {
  grid-column: 3;
}
#kep6 {
  grid-column: 4;
}
iframe {
  border-radius: 15px;
}
#chopinleiras {
  grid-column: 2/4;
  margin-bottom: 8px;
}
#chopin {
  grid-column: 4;
}
#lisztleiras {
  grid-column: 3/5;
  grid-row: 2;
  margin-bottom: 8px;
}
#liszt {
  grid-column: 2;
  grid-row: 2;
}
#satieleiras {
  grid-column: 2/4;
  margin-bottom: 8px;
}
#satie {
  grid-column: 4;
}
footer {
  background-color: #4b5b7c;
  grid-row: 36;
  grid-column: 1/4;
  text-align: center;
}
